USE [master]
GO
/****** Object:  Database [SiteB]    Script Date: 2018/12/18 14:08:58 ******/
CREATE DATABASE [SiteB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SiteB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SiteB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SiteB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SiteB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SiteB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SiteB]
GO
USE [SiteB]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2018/12/18 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](20) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[PassWord] [varchar](50) NULL,
 CONSTRAINT [PK__User__3214EC0735AB39E9] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMapping]    Script Date: 2018/12/18 14:08:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMapping](
	[UserId] [int] NULL,
	[SsoUserId] [int] NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [Email], [Phone], [PassWord]) VALUES (13, N'8_SSO_65', NULL, NULL, N'b22599b6-5b9b-46ba-afdb-c0b69e4a74a3')
SET IDENTITY_INSERT [dbo].[User] OFF
INSERT [dbo].[UserMapping] ([UserId], [SsoUserId]) VALUES (13, 8)
/****** Object:  Index [PK_UserMapping]    Script Date: 2018/12/18 14:08:59 ******/
ALTER TABLE [dbo].[UserMapping] ADD  CONSTRAINT [PK_UserMapping] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[SsoUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserMapping]  WITH CHECK ADD  CONSTRAINT [FK_UserMapping_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
GO
ALTER TABLE [dbo].[UserMapping] CHECK CONSTRAINT [FK_UserMapping_User]
GO
USE [master]
GO
