USE [master]
GO
/****** Object:  Database [SiteSSO]    Script Date: 2018/12/18 14:09:19 ******/
CREATE DATABASE [SiteSSO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SiteSSO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SiteSSO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SiteSSO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SiteSSO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SiteSSO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SiteSSO]
GO
USE [SiteSSO]
GO
/****** Object:  Table [dbo].[SiteConfig]    Script Date: 2018/12/18 14:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Host] [varchar](100) NULL,
	[AppKey] [varchar](50) NULL,
	[SiteToken] [varchar](50) NULL,
	[AuthCallBack] [varchar](200) NULL,
	[AuthSession] [varchar](200) NULL,
	[DefaultIndex] [varchar](200) NULL,
 CONSTRAINT [PK__SiteConf__3214EC07DEB225BA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2018/12/18 14:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[SsoUserId] [int] NOT NULL,
	[UserName] [varchar](50) NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMapping]    Script Date: 2018/12/18 14:09:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMapping](
	[SsoUserId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NOT NULL,
	[Token] [uniqueidentifier] NOT NULL,
	[SourceSiteConfigId] [int] NOT NULL,
	[TargetSiteConfigId] [int] NOT NULL,
	[LoginTime] [datetime] NOT NULL,
 CONSTRAINT [PK_UserMapping] PRIMARY KEY CLUSTERED 
(
	[SsoUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SiteConfig] ON 

INSERT [dbo].[SiteConfig] ([Id], [Name], [Host], [AppKey], [SiteToken], [AuthCallBack], [AuthSession], [DefaultIndex]) VALUES (1, N'SiteA', N'localhost:8101', N'AppKeyA', N'TokenA', N'http://localhost:8101/Authentication/AuthCallback', N'http://localhost:8101/Authentication/AuthSession', N'')
INSERT [dbo].[SiteConfig] ([Id], [Name], [Host], [AppKey], [SiteToken], [AuthCallBack], [AuthSession], [DefaultIndex]) VALUES (2, N'SiteB', N'localhost:8102', N'AppKeyB', N'TokenB', N'http://localhost:8102/Authentication/AuthCallback', N'http://localhost:8102/Authentication/AuthSession', N'')
SET IDENTITY_INSERT [dbo].[SiteConfig] OFF
INSERT [dbo].[User] ([SsoUserId], [UserName], [Email], [Phone]) VALUES (8, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[UserMapping] ON 

INSERT [dbo].[UserMapping] ([SsoUserId], [UserId], [Token], [SourceSiteConfigId], [TargetSiteConfigId], [LoginTime]) VALUES (8, 65, N'4cfdef3a-2a1e-473d-a7ff-91d73b6d730a', 1, 2, CAST(N'2018-12-18T13:18:03.713' AS DateTime))
SET IDENTITY_INSERT [dbo].[UserMapping] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SiteConfig]    Script Date: 2018/12/18 14:09:20 ******/
ALTER TABLE [dbo].[SiteConfig] ADD  CONSTRAINT [IX_SiteConfig] UNIQUE NONCLUSTERED 
(
	[AppKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[UserMapping] ADD  CONSTRAINT [DF_UserMapping_LoginTime]  DEFAULT (getdate()) FOR [LoginTime]
GO
USE [master]
GO
