@{
    ViewData["Title"] = "Home Page";
}

@using Server.Core.Model
@model AuthMappingRequestModel

@using (Html.BeginForm("AuthMappingToDo", "Authentication",FormMethod.Post))
{
    <div class="row">
        <p>
            <span>UserId:@Model.UserId</span>
            <input type="submit" value="关联" />
            @Html.HiddenFor(x => x.AppKey)
            @Html.HiddenFor(x => x.TargetUrl)
            @Html.HiddenFor(x => x.UserId)
        </p>
    </div>

}
