USE [master]
GO
/****** Object:  Database [SiteSSO]    Script Date: 2018/12/20 10:17:03 ******/
CREATE DATABASE [SiteSSO]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SiteSSO', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SiteSSO.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SiteSSO_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\SiteSSO_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SiteSSO].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SiteSSO]
GO
USE [SiteSSO]
GO
/****** Object:  Table [dbo].[GenericAttribute]    Script Date: 2018/12/20 10:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GenericAttribute](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EntityId] [int] NOT NULL,
	[KeyGroup] [varchar](50) NOT NULL,
	[Key] [varchar](50) NOT NULL,
	[KeyName] [nvarchar](50) NULL,
	[Value] [varchar](max) NOT NULL,
 CONSTRAINT [PK_GenericAttribute] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SiteConfig]    Script Date: 2018/12/20 10:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SiteConfig](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NULL,
	[Host] [varchar](100) NULL,
	[AppKey] [varchar](50) NULL,
	[SiteToken] [varchar](50) NULL,
	[AuthCallBack] [varchar](200) NULL,
	[WriteSession] [varchar](200) NULL,
	[AuthMapping] [varchar](200) NULL,
 CONSTRAINT [PK__SiteConf__3214EC07DEB225BA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 2018/12/20 10:17:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[PassWord] [varchar](20) NOT NULL,
	[Email] [varchar](50) NULL,
	[Phone] [varchar](20) NULL,
	[UserToken] [uniqueidentifier] NULL,
	[ExpiredTime] [datetime] NULL,
	[Active] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[SiteConfig] ON 

INSERT [dbo].[SiteConfig] ([Id], [Name], [Host], [AppKey], [SiteToken], [AuthCallBack], [WriteSession], [AuthMapping]) VALUES (1, N'SiteA', N'localhost:8101', N'AppKeyA', N'TokenA', N'http://localhost:8101/Authentication/AuthCallback', N'http://localhost:8101/Authentication/WriteSession', N'http://localhost:8101/Authentication/AuthMapping')
INSERT [dbo].[SiteConfig] ([Id], [Name], [Host], [AppKey], [SiteToken], [AuthCallBack], [WriteSession], [AuthMapping]) VALUES (2, N'SiteB', N'localhost:8102', N'AppKeyB', N'TokenB', N'http://localhost:8102/Authentication/AuthCallback', N'http://localhost:8102/Authentication/WriteSession', N'http://localhost:8102/Authentication/AuthMapping')
SET IDENTITY_INSERT [dbo].[SiteConfig] OFF
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([Id], [UserName], [PassWord], [Email], [Phone], [UserToken], [ExpiredTime], [Active]) VALUES (9, N'rober', N'123456', N'rober.hu@qq.com', N'18620800678', N'304efe69-4ba5-4754-9eb8-30f64158118c', CAST(N'2018-12-20T10:31:29.283' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[User] OFF
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_SiteConfig]    Script Date: 2018/12/20 10:17:03 ******/
ALTER TABLE [dbo].[SiteConfig] ADD  CONSTRAINT [IX_SiteConfig] UNIQUE NONCLUSTERED 
(
	[AppKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_ExpiredTime]  DEFAULT (getdate()) FOR [ExpiredTime]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_active]  DEFAULT ((0)) FOR [Active]
GO
USE [master]
GO
