@{
    ViewData["Title"] = "SSO Login";
}
@using Server.Core.Model
@model LoginModel


@using (Html.BeginForm("Login","Account",FormMethod.Post))
{
    <h2>Login</h2>
    <p>
        <span>账号：</span>@Html.TextBoxFor(x => x.UserName)
    </p>
    <p>
        <span>密码：</span>@Html.TextBoxFor(x => x.PassWord)
    </p>
    <p>
        @Html.HiddenFor(x => x.ReturnUrl)
        <input type="submit" />
    </p>
}